---
---

@import "{{ site.theme }}";

/* .page-header {
  color: #ffff;
  background-color: #A067AB;
  background-image: linear-gradient(90deg, #0071C5, #64AE64);
} 
*/


.page-header {
    /*background-image: url("https://a.chihi.ro/75xqto.png");
    */
    background-image: url("https://a.chihi.ro/o56xl.png");
    width: 100%;
    background-position: top;
    background-size: cover;
}
